.title {
    color:gray;
    text-align: center;
    font-size: 50px;
    font-family: "Roboto","Helvetica" ,sans-serif;
}

.recipes{
    font-size: 20px;
    font-family: "Monaco", "Lucida Console", monospace;
}

.recipes .beef {
    color:maroon;
}

.recipes .chicken {
    color:darkkhaki;
}

.recipes .curry {
    color:darkorange;
}
